<div class="navbar-lewagon fixed-top" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url();">
    <h1>Cocktails</h1>
    <!-- <div class="search"> -->
      <%= form_tag(cocktails_path, :method => "get", class: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Cocktails" %>
        <%= submit_tag "Search", class: "search-btn" %>
      <% end %>
      <%= link_to "", new_cocktail_path, class: "fas fa-cocktail btn" %>
    <!-- </div> -->

</div>

<div class="container home">

  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo.key, height: 300, width: 400, crop: :fill %>')">
        <p><%= link_to cocktail.name, cocktail_path(cocktail), class: "cocktail_card_link" %></p>
      </div>
      <%  end %>
  </div>

</div>
