<div class="container">
  <h1>Add doses</h1>
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description %>
    <%= f.association :ingredient %>
    <%= f.submit "Add dose to cocktail", class: "btn btn-primary" %>
  <% end %>

  <hr>
  <%= link_to "Back to cocktail list", cocktails_path %>
</div>
